<!-- 
{% extends "quiz/base.html" %}
{% block title %}AIクイズ{% endblock %}

{% block content %}
 -->
<!-- 

<div class="text-center">
    {% if current_user.is_authenticated %}
    <p>AIの作り出した問題に答えるクイズアプリです。</p>

    {% else %}
    <p>
        ログイン、もしくは新規登録を行ってください。
    </p>
    {% endif %}
</div>
 -->
 {% extends "quiz/base" %}
{% block title %}AIクイズ{% endblock %}
{% block content %}

 <div class="text-center">
<h1 class="l-title">AI QUIZ</h1>
<p class="l-space">AIの作り出したクイズに挑戦しよう。</p>
    {% if current_user.is_authenticated %}
    <!-- ログインしている状態でしたら下のような文章が出てきて -->
    <!-- <li class="nav-item"> -->
        <div class="l-spac">
            <!-- <h1>陸上（displaynoneで消える）</h1> -->
        </div>
     <a class="nav-link" href="{{ url_for('quiz.quiz_make') }}">
     <button class="u-button__challenge">  
     クイズに挑戦する
     </button> 
    </a>
     <a class="nav-link" href="{{url_for('auth.rank')}}">
     <button class="u-button__ranking"> 
     ランキングを見る
     </button>  
     <!-- ランキングはok -->
    </a>

    <a class="nav-link" href="">
     <button class="u-button__ranking"> 
     ユーザー管理
     </button>  
    </a>

    <a class="nav-link" href="{{ url_for('auth.logout') }}">
        <button class="u-button__ranking">
            ログアウト
        </button>
    </a>
     <!-- </li> -->
    {% else %}
    
<!-- ログインしていなかったら下のような文章が出てくる -->
 <!-- <p> ログイン、新規登録をしてください。</p>  -->
<a class="nav-link" href="{{ url_for('auth.login') }}">
<button class="u-button__ranking"> ログイン</button>  
</a>

<a class="nav-link" href="{{ url_for('auth.signup') }}">
<button class="u-button__ranking">   
ユーザ登録
</button> 
</a>
    {% endif %}
</div>
<footer class="l-footer">
Copyright © 2023 Taguchi kakuto
                 Yagi takahiro
                 Nakazima masato
                 Asahi kei
                 Takasu ayami 
</footer>
 
{% endblock %}